@import "colors";

@import "fonts";

.apidoc {
  width: 95% !important;
  overflow: auto;
  max-height: 100%;
  font-size: 16px;
  color: black;

  h3 {
    margin: 5px 0px;
  }

  div {
    margin: 10px 0px;
  }

  p {
    margin: 15px 0px;
  }

  p.description {
    margin-left: 20px;
  }

  .details {
    display: none;
    padding: 10px 30px;
    background-color: $shade9;
  }

  .vex-close:before {
    margin: 0px !important;
    background-color: $color8 !important;
  }

  pre {
    margin: 0px;
  }

  pre.type {
    display: inline-block;
    font-size: 14px;
    color: $shade6;
  }

  pre.name,
  pre.httpcode,
  pre.httpmethod {
    display: inline-block;
    margin-left: 5px;
  }

  pre.error {
    color: rgba(255, 0, 0, 0.5);
  }

  span.pre {
    font-family: $monoFont;
  }

  span.valid {
    font-weight: 500;
    font-style: italic;
  }

  span.description {
    display: block;
    margin-left: 10px;
  }

  span.none {
    margin-left: 5px;
    font-style: italic;
  }
}
