$color1 : #c0c0c0;
$color2 : #ffffff;
$color3 : #336699;
$color4 : #dddddd;
$color5 : #aaaaaa;
$color6 : #a0a0a0;
$color7 : #d0d0d0;
$color8 : #0088cc;
$color9 : #33cc66;

$shade1  : #101010;
$shade2  : #303030;
$shade3  : #505050;
$shade4  : #707070;
$shade5  : #101010;
$shade6  : #909090;
$shade7  : #b0b0b0;
$shade8  : #d0d0d0;
$shade9  : #f0f0f0;

$clrError : #ff0000;
