@import "colors";
@import "fonts";

div#convert-input {
  margin: 10px 20px;
  padding: 0px;
  border-bottom: solid 2px $color1;

  #number {
    @include box-sizing(border-box);
    width: 100%;
    padding: 5px 10px;

    &.loading {
      background-image: url('/images/ajax-loader-black-on-white.gif');
      background-repeat: no-repeat;
      background-position: right 5px center;
    }
  }

  label {
    display: block;
    float: left;
    top: 0px;
    margin: 5px 5px 8px 0px;
    width: 5em;
  }
}

div#convert-result {
  display: none;
  padding: 20px;

  label {
    top: 0px;
    float: left;
    margin: 0.5em 0px 0px 0px;
    color: black;
    background-color: rgba(150, 150, 150, 0.5);
    &:hover {
      background-color: rgba(150, 150, 150, 0.8);
    }
  }

  input[type="checkbox"]:checked + label {
    background-color: $color8;
  }

  table {
    border-spacing: 0px 3px;
    border-collapse: separate;
    width: 100%;
    table-layout: fixed;
  }

  $headingWidth : 9em;
  $borderRadius : 8px;

  td {
    @include linear-gradient(to bottom, $color2, $color4);
    color: black;
    padding: 10px 10px;
  }

  td p {
    line-height: 1.5em;
  }

  td:first-child {
    border-radius: $borderRadius 0px 0px $borderRadius;
    width: 9em;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
  }

  td:nth-child(2) {
    border-radius: 0px $borderRadius $borderRadius 0px;
    font-family: $monoFont;
    word-wrap: break-word;
  }
}
