@import "colors";
@import "fonts";

.data-inout {
  margin: 10px 20px;
  padding: 0px;

  $textAreaSize: 200px;
  textarea {
    width: 100%;
    height: $textAreaSize;
    margin: 10px 0px;
    padding: 10px;
    resize: none;
    border: solid 2px #fff;
    @include box-sizing(border-box);

    &.loading {
      background-image: url('/images/ajax-loader-black-on-white.gif');
      background-repeat: no-repeat;
      background-position: right 20px bottom 20px;
    }

    &.error {
      border-color: $clrError;
    }
  }

  div.textarea-container {
    clear: left;
  }

  div.button-container {
    margin: 0px;
    padding: 0px;
    float: left;
  }

  #upload-container {

    input[type="file"] {
      display: none;
    }

    div#upload-file {
      width: 150px;
      display: block;
      text-align: center;
      padding: 2px 0px;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    #upload-progress {
      text-align: center;
      display: block;
      border-radius: 5px;
      background-color: rgba($color5, 0.5);
      width: 150px;
      height: 1.2em;

      #upload-progress-bar {
        border-radius: 5px;
        height: 1.2em;
        position: relative;
        top: 0px;
        left: 0px;
        width: 0px;
        background-color: rgba($color9, 0.8);
      }

      #upload-progress-text {
        border-radius: 5px;
        position: relative;
        top: -1.2em;
        left: 0px;
      }
    }

    #upload-status {
      margin-top: 5px;
      width: 150px;
      text-align: center;

      #upload-nice-text {
        display: inline;
        margin-top: 5px;
        margin-right: 5px;
      }

      img#upload-ajax-loader {
        vertical-align: middle;
        display: none;
      }
    }
  }

  label.button {
    display: block;
    margin: inherit inherit 8px inherit;
    float: left;
    width: 6em;
    top: 0px;
    text-align: center;
  }

  .data-inout-result {
    margin: 30px 0px;
    padding: 20px;
    border: solid 1px #000;
    display: none;
    color: black;
    font-family: $monoFont;
    border-radius: 5px;
    clear: both;
    @include linear-gradient(to bottom, $color2, $color4);

    p {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    img {
      float: left;
    }
  }

}
