@import "colors";
@import "fonts";

.data-inout {
  margin: 10px 20px;
  padding: 0px;

  $textAreaSize: 200px;
  textarea {
    width: 100%;
    height: $textAreaSize;
    margin: 10px 0px;
    padding: 10px;
    resize: none;
    clear: left;
    @include box-sizing(border-box);

    &.loading {
      background-image: url('/images/ajax-loader-black-on-white.gif');
      background-repeat: no-repeat;
      background-position: right 20px bottom 20px;
    }

    @include placeholder {
      vertical-align: middle;
      padding-top: ($textAreaSize - 32) / 2;
      text-align: center;
    }
  }

  div.button-container {
    margin: 0px;
    padding: 0px;
    float: left;
  }

  #upload-container {

    input[type="file"] {
      display: none;
    }

    div#upload-file {
      display: block;
      float: left
    }

    #upload-progress {
      text-align: center;
      display: block;
      float: left;
      margin: 2px 10px;
      border-radius: 5px;
      background-color: rgba(200, 200, 200, 0.5);
      width: 130px;
      height: 1.2em;

      #upload-progress-bar {
        border-radius: 5px;
        height: 1.2em;
        position: relative;
        top: 0px;
        left: 0px;
        width: 0px;
        background-color: rgba(0, 200, 0, 0.5);
        margin: 0px;
      }

      #upload-progress-text {
        border-radius: 5px;
        position: relative;
        top: -1.2em;
        left: 0px;
      }
    }

    #upload-nice-text {
      margin: 2px 5px;
      float: left;
    }

    img#upload-ajax-loader {
      display: none;
      float: left;
      margin: 4px;
    }
  }

  label.button {
    display: block;
    margin: inherit inherit 8px inherit;
    float: left;
    width: 6em;
    top: 0px;
    text-align: center;
  }

  .data-inout-result {
    margin: 30px 0px;
    padding: 20px;
    border: solid 1px #000;
    display: none;
    color: black;
    font-family: $monoFont;
    border-radius: 5px;
    @include linear-gradient(to bottom, $color2, $color4);

    p {
      white-space: pre;
      word-wrap: break-word;
      margin: 0px;
    }
  }

}
