@import "colors";
@import "fonts";

#tab-content-decode div,
#tab-content-encode div {
  margin: 10px 20px;
  padding: 0px;

  $textAreaSize: 200px;
  textarea {
    @include linear-gradient(to bottom, #fff, #fff);
    width: 100%;
    height: $textAreaSize;
    padding: 10px;
    resize: none;
    clear: left;
    @include box-sizing(border-box);

    &.loading {
      background-image: url('/images/ajax-loader-black-on-white.gif');
      background-repeat: no-repeat;
      background-position: right 20px bottom 20px;
    }

    @include placeholder {
      vertical-align: middle;
      padding-top: ($textAreaSize - 32) / 2;
      text-align: center;
    }
  }

  div.button-container {
    margin: 0px;
    padding: 0px;
    float: left;
  }

  label.button {
    display: block;
    margin: 5px 5px 8px 0px;
    float: left;
    width: 6em;
    top: 0px;
  }

  #decode-result,
  #encode-result {
    margin: 30px 0px;
    padding: 20px;
    border: solid 1px #000;
    display: none;
    color: black;
    font-family: $monoFont;
    border-radius: 5px;
    @include linear-gradient(to bottom, $color2, $color4);

    p {
      white-space: pre;
      word-wrap: break-word;
      margin: 0px;
    }
  }

}
