#tab-content-format {

  #result {
    display: none;
    @include linear-gradient(to bottom, $color2, $color4);
    border: solid 1px #000;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    clear: both;
    font-size: 14px;

    div.format-result {
      background-color: white;
      border: solid 1px black;
      border-radius: 10px;
      padding: 10px;
    }

    input[type="checkbox"]:checked ~ img.shrink {
      display: inline;
    }

    input[type="checkbox"]:not(:checked) ~ img.expand {
      display: inline;
    }

    img.expand,
    img.shrink {
      display: none;
      cursor: pointer;
    }
  }

  .content-tabs .button {
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .content-tabs .button {
    color: black;
    margin-left: 5px;
  }

  .content-tabs .button:nth-child(2) {
    margin-left: 0px;
  }

  #browse-area {
    $clrObject    : #439400;
    $clrObjectKey : #555555;
    $clrArray     : #0b61a4;
    $clrArrayKey  : #555555;
    $clrString    : #64aa2b;
    $clrNumber    : #ff7640;
    $clrBoolean   : #66a3d2;

    font-family: $monoFont;
    overflow: auto;

    table {
      margin: 5px 20px;

      td {
        white-space: nowrap;
        padding: 2px 4px;
        vertical-align: top;
      }

      td:first-child {
        text-align: right;
      }

      td:only-child {
        border-right: 0;
      }
    }

    input[type="checkbox"]:not(:checked) ~ .object-content,
    input[type="checkbox"]:not(:checked) ~ .array-content {
      visible: none;
      position: absolute;
      bottom: -9999px;
      opacity: 0;
    }

    .string {
      color: $clrString;
    }

    .number {
      color: $clrNumber;
    }

    .boolean {
      color: $clrBoolean;
    }

    .object,
    .array {
      overflow: auto;

      &>label {
        $padding : 5px;
        padding: 0px $padding 0px ($padding + 20px);
        cursor: pointer;

        /* By default, show the plus ... */
        background: url('/images/plus.png') no-repeat scroll top 1px left $padding;
        border-radius: 10px;

        &:hover {
          background-color: $shade9;
        }
      }

      input[type="checkbox"]:checked ~ label {
        /* ... but if the checkbox is checked, show a minus */
        background-image: url('/images/minus.png');
      }

      .count {
        color: #a62f00;
      }
    }

    .object {
      color: $clrObject;

      .object-key {
        color: $clrObjectKey;
      }
    }

    .array {
      color: $clrArray;

      .array-key {
        color: $clrArrayKey;
      }
    }

    .object-content,
    .array-content {
      @include transition(opacity 0.35s);
      overflow: auto;
    }

    .empty {
      color: $shade7;
      font-style: italic;
    }
  }

  #formatted-area,
  #minified-area {
    font-family: $monoFont;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
  }
}
