@import "bourbon";

@import "colors";

@import "convert";
@import "decenc";

$contentWidth    : 900px;
$bannerHeight    : 150px;
$inputLineHeight : 32px;

body {
  padding: 0px;
  margin: 0px;
  color: $color2;
  background-color: $color3;
  font-family: $helvetica;
  font-size: 18px;
}

p {
  margin: 5px;
}

#{$all-text-inputs}, select, textarea {
  @include linear-gradient(to bottom, $color2, $color4);
  box-shadow: 0px 0px 2px 2px $color4;
  border: solid 2px $color5;
  border-radius: 5px;
  font-weight: bold;
  font-size: $inputLineHeight / 2;
  height: $inputLineHeight;
  vertical-align: middle;
}

#{$all-text-inputs-focus}, select:focus, textarea:focus {
  border: solid 2px $color8;
}

.button {
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;

  position: relative;
  top: 2px;

  @include transition(all 0.2s ease-in-out);

  background-color: rgba(200, 200, 200, 0.2);
  color: white;

  &:hover {
    background-color: rgba(200, 200, 200, 0.5);
    color:white;
    top: 0px;
  }
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .button {
    background: $color8;
}

div#banner {
  margin: 0px;
  min-width: $contentWidth;
  height: $bannerHeight;
  @include linear-gradient(to bottom, $color1, $color3);

  h1 {
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    text-shadow: 2px 2px black;
    margin: 0px;
  }

  img#github {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
  }
}

.tabs {
  margin: 0px auto;
  min-width: $contentWidth;
  float: none;
  list-style: none;
  position: relative;
  padding: 0px;

  li {
    float: left;

    &>label {
      margin: 0px 10px;
      padding: 5px 25px;
      font-size: 24px;
    }
  }

  input[type="radio"]:checked ~ div.tab-content {
    display: block;
  }

  .tab-content {
    display: none;
    width: 100%;
    left: 0px;
    margin: 10px 0px;
    position: absolute;
  }
}
