@import "bourbon";

$color1 : #c0c0c0;
$color2 : #ffffff;
$color3 : #336699;
$color4 : #dddddd;
$color5 : #aaaaaa;
$color6 : #a0a0a0;
$color7 : #d0d0d0;

$shade1  : #101010;
$shade2  : #303030;
$shade3  : #505050;
$shade4  : #707070;
$shade5  : #101010;
$shade6  : #909090;
$shade7  : #b0b0b0;
$shade8  : #d0d0d0;
$shade9  : #f0f0f0;

$contentWidth : 900px;
$bannerHeight : 150px;
$inputHeight  : 32px;

body {
  padding: 0px;
  margin: 0px;
  color: $color2;
  background-color: $color3;
  font-family: $helvetica;
  font-size: 18px;
}

div#banner {
  margin: 0px;
  min-width: $contentWidth;
  height: $bannerHeight;
  @include linear-gradient(to bottom, $color1, $color3);

  h1 {
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    text-shadow: 2px 2px black;
    margin: 0px;
  }

  img#github {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px;
  }
}

div#content {
  margin: 0px auto;
  min-width: $contentWidth;
}

#{$all-text-inputs}, select {
  @include linear-gradient(to bottom, $color2, $color4);
  box-shadow: 0px 0px 2px 2px $color4;
  border: solid 2px $color5;
  border-radius: 5px;
  font-weight: bold;
  font-size: $inputHeight / 2;
  height: $inputHeight;
  vertical-align: middle;
}

div#input-array {
  padding: 20px 1%;
  border-bottom: solid 2px $color1;

  span#loader {
    visibility: hidden;
    height: $inputHeight;
  }

  img {
    width: 16px;
    height: 16px;
    @include inline-block;
    vertical-align: middle;
    text-align: center;
  }

  #number {
    width: 70%;
    padding: 0px 1%;
    margin: 5px 1%;

    @include placeholder {
      text-align: center;
    }
  }

  select#type {
    width : 20%;
    padding: 0px 1%;
    margin: 5px 1%;
  }
}

div#readme {
  padding: 0px 40px;

  img {
    display: block;
    margin: 20px auto;
  }

  p {
    margin: 0px 10px;
  }

  a {
    color: $color1;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}

div#result {
  display: none;
  min-width: $contentWidth;

  #align-button {
    $borderRadius : 5px;
    padding: 0px;
    float: left;

    input {
      display: none;
    }

    span {
      border-radius: $borderRadius;
      border: solid 1px $shade7;
      font-size: 15px;
      font-weight: normal;
      @include linear-gradient(to bottom, $shade8, $shade9);
      display: block;
      padding: 3px 10px;
    }

    span:hover, input:checked + span:hover {
      @include linear-gradient(to bottom, $shade7, $shade8);
    }

    input:checked + span {
      @include linear-gradient(to bottom, $shade6, $shade7);
      color: #fff;
    }
  }

  table {
    $margin : 2%;

    margin: 20px $margin 0px $margin;
    border-spacing: 0px 3px;
    border-collapse: separate;
    width: 100% - 2 * $margin;
    table-layout: fixed;
  }

  td {
    @include linear-gradient(to bottom, $color2, $color4);
    color: black;
    padding: 10px 10px;
  }

  $headingWidth : 15%;
  $borderRadius: 8px;
  td.result-heading {
    border-radius: $borderRadius 0px 0px $borderRadius;
    width: 9em;
    text-align: right;
    font-weight: bold;
  }

  td.result-heading p, td.result-value p {
      line-height: 1.5em;
  }

  td.result-value {
    border-radius: 0px $borderRadius $borderRadius 0px;
    width: 100% - $headingWidth;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    word-wrap: break-word;
  }
}
